## Autograded Notebook (Canvas & CodeGrade)

This notebook will be automatically graded. It is designed to test your answers and award points for the correct answers. Following the instructions for each Task carefully.

### Instructions

* **Download this notebook** as you would any other ipynb file
* **Upload** to Google Colab or work locally (if you have that set-up)
* **Delete `raise NotImplementedError()`**
* Write your code in the `# YOUR CODE HERE` space
* **Execute** the Test cells that contain `assert` statements - these help you check your work (others contain hidden tests that will be checked when you submit through Canvas)
* **Save** your notebook when you are finished
* **Download** as a `ipynb` file (if working in Colab)
* **Upload** your complete notebook to Canvas (there will be additional instructions in Slack and/or Canvas)

# Lambda School Data Science - Unit 1 Sprint 1 Module 2

## Making Features

### Module Learning Objectives

- Understand the purpose of feature engineering
- Work with strings in pandas
- Work with dates and times in pandas
- Modify or create columns of a dataframe using the `.apply()` function

### Resources

- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations - eg. .strip(), .split(), .replace() and list comprehensions
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series - lots more details about time using and not using Pandas
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

### Notebook points: 11

### Introduction

This project is going to focus on learning how to create new features from exisiting data. There are many ways to create features in your datasets; we'll only focus on a few here. Let's get started!

**Task 1** - Load the data set

* Using the provided URL, load the Ames Housing Data into a DataFrame called `house`
* View your DataFrame

In [ ]:
# Task 1

# Imports
import pandas as pd

# Dataset URL

data_url = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Housing/Ames%20Iowa%20Housing%20Data.csv'

# YOUR CODE HERE
house = pd.read_csv(data_url)

# View your DataFrame
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 100)
print(house.shape)
print(house.head())

(1460, 81)
   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities LotConfig LandSlope Neighborhood Condition1  \
0         Lvl    AllPub    Inside       Gtl      CollgCr       Norm
1         Lvl    AllPub       FR2       Gtl      Veenker      Feedr
2         Lvl    AllPub    Inside       Gtl      CollgCr       Norm
3         Lvl    AllPub    Corner       Gtl      Crawfor       Norm
4         Lvl    AllPub       FR2       Gtl      NoRidge       Norm

  Condition2 BldgType HouseStyle  OverallQual  OverallCond  YearBuilt  \
0       Norm     1Fam     2Story            7            5       2003
1       Norm     1Fam     1Story            6            8       1976
2       Norm     1Fam     2Story            7            5       2001
3       Norm     1Fam     2Story            7            5       1915
4       Norm     1Fam     2Story            8            5       2000

   YearRemodAdd RoofStyle RoofMatl Exterior1st Exterior2nd MasVnrType  \
0          2003     Gable  CompShg     VinylSd     VinylSd    BrkFace
1          1976     Gable  CompShg     MetalSd     MetalSd       None
2          2002     Gable  CompShg     VinylSd     VinylSd    BrkFace
3          1970     Gable  CompShg     Wd Sdng     Wd Shng       None
4          2000     Gable  CompShg     VinylSd     VinylSd    BrkFace

   MasVnrArea ExterQual ExterCond Foundation BsmtQual BsmtCond BsmtExposure  \
0       196.0        Gd        TA      PConc       Gd       TA           No
1         0.0        TA        TA     CBlock       Gd       TA           Gd
2       162.0        Gd        TA      PConc       Gd       TA           Mn
3         0.0        TA        TA     BrkTil       TA       Gd           No
4       350.0        Gd        TA      PConc       Gd       TA           Av

  BsmtFinType1  BsmtFinSF1 BsmtFinType2  BsmtFinSF2  BsmtUnfSF  TotalBsmtSF  \
0          GLQ         706          Unf           0        150          856
1          ALQ         978          Unf           0        284         1262
2          GLQ         486          Unf           0        434          920
3          ALQ         216          Unf           0        540          756
4          GLQ         655          Unf           0        490         1145

  Heating HeatingQC CentralAir Electrical  1stFlrSF  2ndFlrSF  LowQualFinSF  \
0    GasA        Ex          Y      SBrkr       856       854             0
1    GasA        Ex          Y      SBrkr      1262         0             0
2    GasA        Ex          Y      SBrkr       920       866             0
3    GasA        Gd          Y      SBrkr       961       756             0
4    GasA        Ex          Y      SBrkr      1145      1053             0

   GrLivArea  BsmtFullBath  BsmtHalfBath  FullBath  HalfBath  BedroomAbvGr  \
0       1710             1             0         2         1             3
1       1262             0             1         2         0             3
2       1786             1             0         2         1             3
3       1717             1             0         1         0             3
4       2198             1             0         2         1             4

   KitchenAbvGr KitchenQual  TotRmsAbvGrd Functional  Fireplaces FireplaceQu  \
0             1          Gd             8        Typ           0         NaN
1             1          TA             6        Typ           1          TA
2             1          Gd             6        Typ           1          TA
3             1          Gd             7        Typ           1          Gd
4             1          Gd             9        Typ           1          TA

  GarageType  GarageYrBlt GarageFinish  GarageCars  GarageArea GarageQual  \
0     Attchd       2003.0          RFn           2         548         TA
1     Attchd       1976.0          RFn           2         460         TA
2     Attchd       2001.0          RFn           2         608         TA
3     Detchd       1998.0          Unf           3         642         TA
4     Attchd       2000.0          RFn           3         836         TA

  GarageCond PavedDrive  WoodDeckSF  OpenPorchSF  EnclosedPorch  3SsnPorch  \
0         TA          Y           0           61              0          0
1         TA          Y         298            0              0          0
2         TA          Y           0           42              0          0
3         TA          Y           0           35            272          0
4         TA          Y         192           84              0          0

   ScreenPorch  PoolArea PoolQC Fence MiscFeature  MiscVal  MoSold  YrSold  \
0            0         0    NaN   NaN         NaN        0       2    2008
1            0         0    NaN   NaN         NaN        0       5    2007
2            0         0    NaN   NaN         NaN        0       9    2008
3            0         0    NaN   NaN         NaN        0       2    2006
4            0         0    NaN   NaN         NaN        0      12    2008

  SaleType SaleCondition  SalePrice
0       WD        Normal     208500
1       WD        Normal     181500
2       WD        Normal     223500
3       WD       Abnorml     140000
4       WD        Normal     250000

**Task 1 Test**

In [ ]:
# Task 1 - Test

# These tests are for you to check your work before submitting
assert isinstance(house, pd.DataFrame), 'Have you created a DataFrame named house?'

# Hidden tests - you'll see results when you submit to Canvas

**Task 2** - Create a new feature

Now that we have the data loaded, we're going to create a new feature. We can use the some of the existing features, in this case, the total number of bathrooms in one column.

* Create a new variable called `Total_Bathrooms` that contains the total number of full and half bathrooms in the house.  

*Hint: Identify all the columns with bath in the title and add their values together. There are four columns to add together.  Add one to the total for each full or half bathroom.*

In [ ]:
# Task 2

# YOUR CODE HERE

house['Total_Bathrooms'] = house['BsmtFullBath'] + house['BsmtHalfBath'] + house['FullBath'] + house['HalfBath']

**Task 2 Test**

In [ ]:
# Task 2 - Test

assert 'Total_Bathrooms' in house.columns, 'Did you add the new column?'

# Hidden tests - you'll see results when you submit to Canvas

# View all the bathroom columns
house[['Total_Bathrooms','BsmtFullBath','BsmtHalfBath','FullBath','HalfBath']].head()

   Total_Bathrooms  BsmtFullBath  BsmtHalfBath  FullBath  HalfBath
0                4             1             0         2         1
1                3             0             1         2         0
2                4             1             0         2         1
3                2             1             0         1         0
4                4             1             0         2         1

**Task 3** - Create a new feature using encoding

Next we're going to create another new column by "encoding" an exisitng column. Using the `LotArea` column, we'll assign values according the the area of the lot.

* Create a new column called `Large_Lot` that takes on the following values:
    * 0 when `LotArea` is **less** than 10,000
    * 1 when `LotArea` is **greater than or equal** to 10,000

In [ ]:
# Task 3

# YOUR CODE HERE
A_lot_of_lots = []

for i in house['LotArea']:
  if i >= 10000:
    A_lot_of_lots.append(1)
  else:
    A_lot_of_lots.append(0)

house['Large_Lot'] = A_lot_of_lots

# View the new column
house[['LotArea', 'Large_Lot']].head()

   LotArea  Large_Lot
0     8450          0
1     9600          0
2    11250          1
3     9550          0
4    14260          1

**Task 3 Test**

In [ ]:
# Task 3 - Test

assert 'Large_Lot' in house.columns, 'Did you add the Large_Lot column?'

# Hidden tests - you'll see results when you submit to Canvas

**Task 4** - Create another feature

Let's continue with creating new features. This time, we'll focus on encoding for the sale month.

* Create a new column called `Summer_Sale` that takes on the following values:
    * 0 if the sale month was in September - May (`ModSold` = 1-5, 9-12)
    * 1 if the sale month was in June, July or August (`MoSold` = 6, 7 or 8)

In [ ]:
# Task 4

# YOUR CODE HERE

A_hot_sale = []

for i in house['MoSold']:
  if i in range(6,9):
    A_hot_sale.append(1)
  else:
    A_hot_sale.append(0)

house['Summer_Sale'] = A_hot_sale

# View the new column
house[['MoSold', 'Summer_Sale']]

      MoSold  Summer_Sale
0          2            0
1          5            0
2          9            0
3          2            0
4         12            0
...      ...          ...
1455       8            1
1456       2            0
1457       5            0
1458       4            0
1459       6            1

[1460 rows x 2 columns]

**Task 4 Test**

In [ ]:
# Task 4 - Test

assert 'Summer_Sale' in house.columns, 'Did you add the Summer_Sale column?'

# Hidden tests - you'll see results when you submit to Canvas

**Task 5**

Now we'll revisit the LendingClub data. The statements to import the `loans` DataFrame have been provided for you.  Run the code block below without changing anything to load the `loans` data.

* Load the data into a DataFrame called `loans`.
* Make sure to view the `loans` DataFrame to see what data we're working with.

In [ ]:
# Task 5

# Dataset URL

# Dataset URL
loans_data = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/LendingClub/LoanStats_2018Q4_sm.csv'

# YOUR CODE HERE

loans = pd.read_csv(loans_data)

# View the dataset!

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 100)
print(loans.shape)
print(loans.head())

(30000, 144)
   id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0 NaN        NaN       5525         5525           5525.0   36 months
1 NaN        NaN      10000        10000          10000.0   36 months
2 NaN        NaN      12000        12000          12000.0   60 months
3 NaN        NaN      20000        20000          20000.0   36 months
4 NaN        NaN      12000        12000          12000.0   36 months

  int_rate  installment grade sub_grade       emp_title emp_length  \
0   10.72%       180.15     B        B2         Teacher    3 years
1   10.08%       323.05     B        B1         Manager    7 years
2   10.08%       255.44     B        B1      Supervisor    5 years
3    6.46%       612.62     A        A1    school nurse  10+ years
4    7.02%       370.64     A        A2  Superintendent  10+ years

  home_ownership  annual_inc verification_status   issue_d  loan_status  \
0       MORTGAGE     62035.0            Verified  Dec-2018   Fully Paid
1           RENT     42000.0     Source Verified  Oct-2018   Fully Paid
2       MORTGAGE     60000.0        Not Verified  Oct-2018   Fully Paid
3       MORTGAGE     85000.0            Verified  Nov-2018  Charged Off
4           RENT     65000.0        Not Verified  Dec-2018      Current

  pymnt_plan  url  desc             purpose                    title zip_code  \
0          n  NaN   NaN         credit_card  Credit card refinancing    301xx
1          n  NaN   NaN         credit_card  Credit card refinancing    432xx
2          n  NaN   NaN  debt_consolidation       Debt consolidation    836xx
3          n  NaN   NaN  debt_consolidation       Debt consolidation    891xx
4          n  NaN   NaN  debt_consolidation       Debt consolidation    907xx

  addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
0         GA  26.58            0         Oct-1998               1
1         OH   9.51            0         Sep-2015               2
2         ID  15.55            0         Jun-2003               0
3         NV   5.48            1         Feb-2005               0
4         CA  17.49            0         Feb-2008               0

   mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  \
0                     NaN                    94.0        14        1
1                     NaN                     NaN         5        0
2                     NaN                     NaN         7        0
3                     9.0                     NaN        20        0
4                     NaN                     NaN         7        0

   revol_bal revol_util  total_acc initial_list_status  out_prncp  \
0       4021      17.9%         21                   w       0.00
1        509       2.7%          6                   w       0.00
2       3768      12.8%         22                   w       0.00
3      13583      20.7%         37                   w       0.00
4       2216      14.1%         12                   w    4282.89

   out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  \
0           0.00   6336.700000          6336.70          5525.00
1           0.00  10737.711855         10737.71         10000.00
2           0.00  13097.521940         13097.52         12000.00
3           0.00   7949.700000          7949.70          6780.67
4        4282.89   8888.340000          8888.34          7717.11

   total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  \
0         811.70                 0.0         0.0                      0.0
1         737.71                 0.0         0.0                      0.0
2        1097.52                 0.0         0.0                      0.0
3        1169.03                 0.0         0.0                      0.0
4        1171.23                 0.0         0.0                      0.0

  last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  \
0     Nov-2020          2376.69          NaN           Dec-2020
1     Feb-2020          2861.16          NaN           Dec-2020
2     Sep-2019         10549.84          NaN           Nov-2019
3     Dec-2019           612.62          NaN           Mar-2020
4     Dec-2020           370.64     Jan-2021           Dec-2020

   collections_12_mths_ex_med  ...  num_il_tl  num_op_rev_tl num_rev_accts  \
0                           0  ...         12              7             8
1                           0  ...          2              4             4
2                           0  ...          8              4             9
3                           0  ...          7             19            26
4                           0  ...          5              4             7

   num_rev_tl_bal_gt_0  num_sats num_tl_120dpd_2m  num_tl_30dpd  \
0                    5        14              0.0             0
1                    1         5              0.0             0
2                    2         7              0.0             0
3                    9        20              0.0             0
4                    3         7              0.0             0

   num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  \
0                   0                   4            90.5               0.0
1                   0                   2           100.0               0.0
2                   0                   0           100.0               0.0
3                   0                   3            97.2               0.0
4                   0                   0           100.0               0.0

   pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  \
0                     1          0           256370              67981
1                     0          0            34941               7739
2                     0          0           252822              18103
3                     0          0           300600              13583
4                     0          0            47448              15597

   total_bc_limit  total_il_high_credit_limit  revol_bal_joint  \
0           16200                       73755              NaN
1           16600                       16241              NaN
2           19500                       25412              NaN
3           49500                           0          28852.0
4            7100                       31748              NaN

   sec_app_earliest_cr_line  sec_app_inq_last_6mths  sec_app_mort_acc  \
0                       NaN                     NaN               NaN
1                       NaN                     NaN               NaN
2                       NaN                     NaN               NaN
3                  Jul-2014                     0.0               0.0
4                       NaN                     NaN               NaN

   sec_app_open_acc  sec_app_revol_util  sec_app_open_act_il  \
0               NaN                 NaN                  NaN
1               NaN                 NaN                  NaN
2               NaN                 NaN                  NaN
3               9.0                47.0                  1.0
4               NaN                 NaN                  NaN

   sec_app_num_rev_accts  sec_app_chargeoff_within_12_mths  \
0                    NaN                               NaN
1                    NaN                               NaN
2                    NaN                               NaN
3                    8.0                               0.0
4                    NaN                               NaN

   sec_app_collections_12_mths_ex_med  sec_app_mths_since_last_major_derog  \
0                                 NaN                                  NaN
1                                 NaN                                  NaN
2                                 NaN                                  NaN
3                                 0.0                                  NaN
4                                 NaN                                  NaN

   hardship_flag  hardship_type  hardship_reason  hardship_status  \
0              N            NaN              NaN              NaN
1              N            NaN              NaN              NaN
2              N            NaN              NaN              NaN
3              N            NaN              NaN              NaN
4              N            NaN              NaN              NaN

   deferral_term  hardship_amount  hardship_start_date  hardship_end_date  \
0            NaN              NaN                  NaN                NaN
1            NaN              NaN                  NaN                NaN
2            NaN              NaN                  NaN                NaN
3            NaN              NaN                  NaN                NaN
4            NaN              NaN                  NaN                NaN

   payment_plan_start_date  hardship_length  hardship_dpd  \
0                      NaN              NaN           NaN
1                      NaN              NaN           NaN
2                      NaN              NaN           NaN
3                      NaN              NaN           NaN
4                      NaN              NaN           NaN

   hardship_loan_status  orig_projected_additional_accrued_interest  \
0                   NaN                                         NaN
1                   NaN                                         NaN
2                   NaN                                         NaN
3                   NaN                                         NaN
4                   NaN                                         NaN

   hardship_payoff_balance_amount  hardship_last_payment_amount  \
0                             NaN                           NaN
1                             NaN                           NaN
2                             NaN                           NaN
3                             NaN                           NaN
4                             NaN                           NaN

   debt_settlement_flag  debt_settlement_flag_date  settlement_status  \
0                     N                        NaN                NaN
1                     N                        NaN                NaN
2                     N                        NaN                NaN
3                     N                        NaN                NaN
4                     N                        NaN                NaN

   settlement_date  settlement_amount  settlement_percentage  settlement_term
0              NaN                NaN                    NaN              NaN
1              NaN                NaN                    NaN              NaN
2              NaN                NaN                    NaN              NaN
3              NaN                NaN                    NaN              NaN
4              NaN                NaN                    NaN              NaN

[5 rows x 144 columns]

**Tast 5 Test**

In [ ]:
# Task 5 - Test

assert isinstance(loans, pd.DataFrame), 'Have you created a DataFrame named loans?'
assert loans.shape == (30000, 144), 'Double check your DataFrame size.'

# NO hidden tests for this task

**Introduction** - Approaching a problem two different ways.

In the Guided Project, we learned how to find the earliest credit year using the built-in date-time format.  However, there is often more than one way to come up with the same solution.  

In the following questions, we will work through the steps to create new variables called `Earliest_Credit_Year` and `issue_year` where we use the `.split()` function to split on the month and year in a string variable, and return just the year value. We can then use those variables to calculate the length of credit history in years.  

If we do everything correctly, we should calculate *about* the same length of longest credit history that we did in class working with the date-time format.  The answers won't exactly match because we are making different assumptions about when in each month and year the loans were taken out, but it will give you a flavor for different ways of approaching the same problem.

**Task 6** - Create a simple test case

The `credit` variable has been created for you with the value 'Jun-1979'

* Use the `.split('-')` function to separate the month and year parts of the data.
* Name the results of the .split('-') function `fields`: 
    * assign `fields[0]` to the variable `month`
    * assign `fields[1]` to the variable `year`

In [ ]:
# Task 6

# Don't change or delete
credit = 'Jun-1979' 

# YOUR CODE HERE

month = credit.split('-')[0]

year = credit.split('-')[1]

# Look at the year variable both as a string and as a float
print('String: ', year)
print('Float: ', float(year))

String:  1979
Float:  1979.0

**Task 6 Test**

In [ ]:
# Task 6 - Test

# Hidden tests - you'll see results when you submit to Canvas

**Task 7** - Create a function

Use your answer from **Task 6** to write a function called `credit_yr` that takes in the contents of a cell that is formatted as "month-year" and returns the year.

* Complete the definition of the function `credit_yr` below:
    * one argument `cell_contents` as input (provided for you)
    * splits the `cell_content` on a `-` and calls the result `fields`
    * creates the variable `year` which has the value `fields[1]`
    * returns `year` as a float variable
* Run your function using the simple test case in Task 6 (`credit='Jun-1979'`). Assign the output of the function to the variable `year_function`.

In [ ]:
# Task 7

# Complete the function definition

# YOUR CODE HERE

def credit_yr(cell_contents):
  '''
  This function takes one argument, and splits the string at the - and outputs the result to the fields variable. The function then takes the [1] (second) string and saves it to the year variable. The function's last line is turning the output of year into a float. 
  '''
  fields = cell_contents.split('-')
  year = fields[1]
  return float(year)  

year_function = credit_yr(credit)

# Print your year_function variable
year_function

1979.0

**Task 7 Test**

In [ ]:
# Task 7 - Test

assert isinstance(year_function, float), 'Make sure your year variable is a float!'

# Hidden tests - you'll see results when you submit to Canvas

**Task 8** - Apply our function

Now we're going to use the function we created and apply it to a column in our `loans` DataFrame. 

* Use the `.apply()` function to apply the function to every cell in the `earliest_cr_line` column.
* Assign the results to a new column called `Earliest_Credit_Year`.
* View the top five rows of the `Earliest_Credit_Year` and `earliest_cr_line` columns to make sure the variables were created correctly (code provided for you).

In [ ]:
# Task 8

loans = loans.copy()

# YOUR CODE HERE

loans['Earliest_Credit_Year'] = loans['earliest_cr_line'].apply(credit_yr)

# # Print your columns
loans[['Earliest_Credit_Year','earliest_cr_line']]

       Earliest_Credit_Year earliest_cr_line
0                    1998.0         Oct-1998
1                    2015.0         Sep-2015
2                    2003.0         Jun-2003
3                    2005.0         Feb-2005
4                    2008.0         Feb-2008
...                     ...              ...
29995                2000.0         Jan-2000
29996                1985.0         Sep-1985
29997                2007.0         Dec-2007
29998                2008.0         Apr-2008
29999                1991.0         Apr-1991

[30000 rows x 2 columns]

**Task 8 Test**

In [ ]:
# Task 8 - Test

assert 'Earliest_Credit_Year' in loans.columns, 'Did you add the "Earliest_Credit_Year" column?'
assert loans.shape == (30000, 145), 'Double check your DataFrame size.'

# Hidden tests - you'll see results when you submit to Canvas

**Task 9** - Apply the function to a new column

So next, we're going to use the `credit_yr` function to create a new variable called `Issue_Year` from the `issue_d` variable. Follow the sames steps as you did in Task 8.

* Apply `credit_yr` to the `issue_d` column.
* Name your new column `Issue_Year`.
* View the `Issue_Year`,`issue_d` columns (code provided for you).

In [ ]:
# Task 9

# YOUR CODE HERE
loans['Issue_Year'] = loans['issue_d'].apply(credit_yr)

# Print your columns
loans[['Issue_Year','issue_d']].head()

   Issue_Year   issue_d
0      2018.0  Dec-2018
1      2018.0  Oct-2018
2      2018.0  Oct-2018
3      2018.0  Nov-2018
4      2018.0  Dec-2018

**Task 9**

In [ ]:
# Task 9 - Test

assert 'Issue_Year' in loans.columns, 'Did you add the "Issue_Year" column?'
assert loans.shape == (30000, 146), 'Double check your DataFrame size.'

# Hidden tests - you'll see results when you submit to Canvas

**Task 10** - Calculate length of time from your new columns

Now we're going to use the two new columns you created to calculate the length of credit history in years and in days.

* Create a new column called `Credit_History_Years` which is the difference between `Issue_Year` and `Earliest_Credit_Year`
* Create another new column called `Credit_History_Days` which is the value in the column you created above expect multipled by 365.25 to convert years to days.
* View the top five rows of the `loans` DataFrame (code has been provided).

Hint: If you are getting an error message, make sure to check the data type of the `year` values output by your function.

In [ ]:
# Task 10

# YOUR CODE HERE

loans['Credit_History_Years'] = loans['Issue_Year'] - loans['Earliest_Credit_Year'] 

loans['Credit_History_Days'] = loans['Credit_History_Years'] * 365.25

loans[['Issue_Year','Earliest_Credit_Year','Credit_History_Years','Credit_History_Days']].head(25)

,Issue_Year,Earliest_Credit_Year,Credit_History_Years,Credit_History_Days
0,2018.0,1998.0,20.0,0.054795
1,2018.0,2015.0,3.0,0.008219
2,2018.0,2003.0,15.0,0.041096
3,2018.0,2005.0,13.0,0.035616
4,2018.0,2008.0,10.0,0.027397
...,...,...,...,...
20,2018.0,2008.0,10.0,0.027397
21,2018.0,2001.0,17.0,0.046575
22,2018.0,2005.0,13.0,0.035616
23,2018.0,2000.0,18.0,0.049315
24,2018.0,1993.0,25.0,0.068493

**Task 10 Test**

In [ ]:
# Task 10 - Test

assert 'Credit_History_Years' in loans.columns, 'Did you add the correct column?'
assert 'Credit_History_Days' in loans.columns, 'Did you add the correct column converted to days?'
assert loans.shape == (30000, 148), 'Double check your DataFrame size.'

# Hidden tests - you'll see results when you submit to Canvas

**Task 11** - Calculate the maximum credit length

Finally, we're going to use results from the `Credit_History_Years` column and compare it to we got in the Guided Project.

* Find the maximum values in the `Credit_History_Years` column and assign it to the variable `max_credit`. Make sure you have a float value defined out to one decimal place.
* Compare the the value from the Guided Project (refer to your notebook from class).

Note - it won't be *exactly* the same because both methods are working in different ways, but they will give you a "pretty close" answer.

In [ ]:
# Task 11

# YOUR CODE HERE

max_credit = loans['Credit_History_Years'].max()

68.0

**Task 11 Test**

In [ ]:
# Task 11 - Test

# Hidden tests - you'll see results when you submit to Canvas